services:
# Guacamole Daemon - Needed for Guacamole
  guacd:
    image: guacamole/guacd:1.6.0
    container_name: guacd
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - "./fonts:/usr/local/share/fonts/"
    networks:
      - proxy
    labels:
      - wud.watch=true
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'

# Guacamole - Remote desktop, SSH, on Telnet on any HTML5 Browser
# Create all databases and tables first
  guacamole:
    image: guacamole/guacamole:1.6.0
    container_name: guacamole
    restart: unless-stopped
    networks:
      - proxy
    security_opt:
      - no-new-privileges:true
#    ports:
#      - "$GUACAMOLE_PORT:8080"
    volumes:
      - ${DATADIR}/guacamole/home:/opt/guacamole/home
      #    - "/home/eddie/.local/share/fonts/NerdFonts:/usr/local/share/fonts/Nerdfonts/"
    environment:
      GUACD_HOSTNAME: guacd
      MYSQL_HOSTNAME: mariadbmaster
      MYSQL_PORT: 3306
      MYSQL_DATABASE: ${GUAC_DB_NAME}
      MYSQL_USER: ${GUAC_DB_USER}
      MYSQL_PASSWORD: ${GUAC_DB_PASSWORD}
      GUACAMOLE_HOME: /opt/guacamole/home
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.guacamole-rtr.entrypoints=https"
      - "traefik.http.routers.guacamole-rtr.rule=Host(`guac.$DOMAINNAME`)"
      - "traefik.http.routers.guacamole-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.guacamole-rtr.middlewares=chain-authelia@file,add-guacamole"
      - "traefik.http.middlewares.add-guacamole.addPrefix.prefix=/guacamole"
      ## HTTP Services
      - "traefik.http.routers.guacamole-rtr.service=guacamole-svc"
      - "traefik.http.services.guacamole-svc.loadbalancer.server.port=8080"
      - wud.watch=true
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'

networks:
  proxy:
    external: true

