services:

  www:
    container_name: www_eisvogelweg2_de
    image: nginx:latest
    restart: always
    networks:
      - proxy
    volumes:
      - ${DATADIR}/www.eisvogelweg2.de/www:/var/www/html
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./log:/var/log/nginx
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.eisvogelweg-rtr.entrypoints=https"
      - "traefik.http.routers.eisvogelweg-rtr.rule=Host(`www.$DOMAINNAME`)"
      - "traefik.http.routers.eisvogelweg-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.eisvogelweg-rtr.middlewares=chain-no-auth@file"
      ## HTTP Services
      - "traefik.http.routers.eisvogelweg-rtr.service=eisvogelweg-svc"
      - "traefik.http.services.eisvogelweg-svc.loadbalancer.server.port=80"
      - flame.type=application # "app" works too
      - flame.name=eisvogelweg
      - flame.url=https://www.eisvogelweg2.de
      - flame.icon=nginx.png # Optional, default is "docker"
      - homepage.group=Dienste
      - homepage.name=Homepage
      - homepage.icon=sh-nginx
      - homepage.href=http://www.eisvogelweg2.de/
      - homepage.description=Meine Homepage

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://www.eisvogelweg2.de || exit 1"]
      interval: 1m30s
      timeout: 10s
      retries: 5
networks:
  proxy:
    external: true



